.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Add these styles to your App.css file */

/*--------------------- Portfolio ---------------------------------------*/



/* Adjust the container width to control side margins */

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* ---------------------header--------------------------- */
/* Horizontally align navigation items */

/* Add this to your CSS file */
/* Add this to your CSS file */
/* Header.css */
/* Header.css */
/* Header.css */
/* Header.css */
/* Header.css */
/* Header.css */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: none;
  background-color: transparent; /* Set a transparent background */
}

.header {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.header.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.nav-list {
  list-style: none;
  display: flex;
  font-family: 'Poppins', sans-serif;

  align-items: center;
  margin: 0;
  padding: 0;
  /* Remove position: absolute; to allow links to flow in the normal document flow */
}

.nav-list li {
  margin-left: 20px; /* Adjust the spacing between links */
}

.nav-link {
  color: #ffffff; /* Set link color to white */
  text-decoration: none;
  font-size: 26px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #06478d;
}

/* Remove logo styles */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  display: none; /* Hide the logo image */
}

.header-title {
  color: #ffffff; /* Set text color to white */
  font-size: 44px;
  font-family: 'Poppins', sans-serif;
  text-align: right; /* Center the text horizontally */
  flex: 1; /* Allow the text to expand and take up space */
}



/* -------------------------homepage--------------------- */

/* Homepage.css */

/* Use a modern font from Google Fonts or other sources */
/* Add this CSS to your stylesheet for styling the new homepage */

/* Add this CSS to your stylesheet for styling the new homepage */


  .homepage {
    transition: padding-bottom 0.3s ease; /* You can adjust the transition duration */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0; /* Increase the padding to adjust the height */
    font-family: 'Poppins', sans-serif;
  }

  .homepage h1 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
  }

  .homepage-image-container {

    background-size: cover;
    border-radius: 20px; /* Apply rounded corners to the container */
    overflow: hidden; /* Hide any content that overflows the rounded corners */
  }



/* -------------------------homepage--------------------- */




/* -------------------------Portfolio-------------------- */

/* Portfolio.css */

/* Adjust circle size and spacing */
/* Portfolio.css */

/* Adjust circle size and spacing */
/* Portfolio.css */

/* Adjust circle size */
/* Portfolio.css */

/* Reduce margin on the sides of the master container */
/* Portfolio.css */

/* Remove margin and padding from the sides of the container */


/* Adjust circle size */
.portfolio {
  background-color: #dcd8d8; /* Pastel yellow background color */
  padding: 80px 0; /* Adjust the padding as needed */
  font-family: 'Poppins', sans-serif;

}
.project-card {
  flex: 1;
  max-width: calc(33.33% - 40px); /* Adjust the percentage and margin for spacing between cards */
  text-align: center;
  margin: 20px; /* Increase the margin for more spacing between cards */
  transition: transform 0.3s ease;
}

.project-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-title {
  font-size: 28px;
  margin-bottom: 40px;
}
.portfolio {
  padding: 40px 0; /* Adjust the padding as needed */
}

/* Media query for responsiveness */
@media (max-width: 767px) {
  .project-card {
    max-width: 100%;
  }


}
.project-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 8px solid #2214499f; /* Add a purple border around the circle */
  transition: border-color 0.3s; /* Add a transition for border-color changes */
}

.project-circle:hover {
  border-color: #221449; /* Change the border color on hover */
}
/* -------------------------about------------------------ */
#about-me {
  position: relative;
  background-color: #aeadad;
  padding: 80px 0;
  overflow: hidden;
}

.about-card,
.skills-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6); /* Increased transparency */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.section-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.lead {
  font-size: 18px;
  color: #555;
}

.list-unstyled {
  padding-left: 0;
  margin-top: 20px;
}

.list-unstyled li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}


/* Add media query for small screens */
@media (max-width: 767px) {
  .col-lg-6 {
    margin-bottom: 30px; /* Space between columns on small screens */
  }

  .about-card,
  .skills-card {
    padding: 20px; /* Adjust card padding on small screens */
  }
}





/* ... other styles for your card content */


/* Add these styles to your About.css file */



@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}




/* -------------------------about------------------------ */


/* ---------------------------------scrollbar-------------------------- */
/* Add these styles to your App.css file */

/* Customize the scrollbar */
/* Width and height for the track */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #b4afaf;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ---------------------------Contact-------------------- */


.contact-section {
  background-color: rgba(220, 216, 216, 0.9); /* Adjust the alpha (0.9) to control the transparency */
  padding: 40px 0; /* Adjust the top and bottom padding as needed to make the section shorter */
}

.btn-schedule-call {
  font-size: 20px; /* Increase the font size to make the button bigger */
  padding: 15px 40px; /* Increase the padding to make the button larger */
}

.contact-form {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (0.9) to control the transparency */
  padding: 20px; /* Adjust the padding as needed */
}




/* -----------------footer------------------------ */

.footer-container {
  background-color: #221449; /* Slightly dark gray background */
  padding: 20px 0; /* Remove all padding */
  font-family: 'Poppins', sans-serif;
  border-top: none; /* Remove top border */
  border-bottom: none; /* Remove bottom border */
}

/* Increase the size of social icons for better visibility */
.icon {
  font-size: 24px;
  margin-right: 10px;
  color: #ffffff;
  transition: color 0.3s;
}

.icon:hover {
  color: #06478d;
}

footer {
  margin: 0;
  padding: 0;
}